* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

.container {
    display: flex;
    max-width: 1200px;
}

/* ASIDE */

aside .menu-sx {
    display: flex;
    flex-direction:column;
    width: 150px;
    height: calc(100% - 70px);
    background-color: black;
    color: lightgray;
    padding-left: 10px;
    justify-content: space-between;
    flex:1;

}

.logo {
    padding: 10px 0;
    display:flex;
    align-items: center;
}

.logo .fa-spotify {
    font-size: 30px;
}

.logo h1 {
    padding-left: 10px;
}

aside .links {
    list-style: none;
}

aside .link {
    padding-bottom: 7px;
    display: flex;
    align-items: center;
}

aside .link .fas {
    font-size: 20px;
}

aside .link p {
    font-size: 15px;
    margin-left: 10px;
    display: inline-block;
}

aside .playlist-zone .playlist {
    list-style: none;
}

aside .playlist-zone li {
    padding-bottom:20px;
    display: flex;
    align-items: center;
}

aside .playlist-zone .fas {
    font-size: 30px;
    margin-right: 10px;
}

aside .playlist-zone h2 {
    color: white;
    font-size: 20px;
    padding:20px 0;
}

aside .playlist-zone p {
    font-size: 15px;
    display: inline-block;
}

.bottom-aside hr {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.bottom-aside .fas {
    display: inline-block;
    padding-right: 10px;
}

.bottom-aside .btm-asd-up {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.bottom-aside .btm-asd-down {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.bottom-aside .btm-asd-down .fas{
    font-size: 25px;
}

.bottom-aside .btm-asd-down small {
    color: white;
    font-size: 15px;
}

/* CORE HEADER - BOTTONE UPGRADE */
header .reg-bar {
    display:flex;
    width: calc(100vw - 150px);
    height: 70px;
    background: linear-gradient(to right, #492c44, #354558);
    justify-content: flex-end;
    flex:1;
}

header .reg-bar a {
    border-radius: 30px;
    color: white;
    border: 1px solid white;
    margin: auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}

/* CORE NAV BAR - MENU LINK */
main {
    width: 100%;
    height: calc(100% - 140px);
    background-color: #1d283a;
    color: white;
    padding-left: 25px;
    padding-bottom: 70px;
}

main h1 {
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: left;
}
main p {
    font-size: 20px;
    color: lightgray;
    padding-bottom: 20px;
}

nav {
    display:flex;
    justify-content: space-around;
    padding-top:30px;
}

nav li {
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
}

nav li a {
    text-decoration: none;
    color: lightgray;
    font-size: 25px;
}

/* GESTIONE ALBUM */
.albums {
    text-align: center;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    padding: 30px 0;
}

.album {
    padding-right: 50px;
}

.album img {
    width: 237px;
    height: 237px;
    padding-bottom: 20px;
}

/* SEZIONE ALBUM RECENTI */
.recently-played {
    color: white;
}

/* SEZIONE FOOTER - PLAYER | POSITION FIXED */
.foot{
    position:relative;
}

.player-bar {
    display:flex;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    background-color:  	#505050;
    position:fixed;
    bottom:0;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.player-bar-sx {
    display: flex;
    align-items: center;
}

.player-bar .mini-portrait {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.player-bar .mini-copertina {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}

.player-bar .player-song {
    padding-right: 40px
}

.player-bar .icons .far {
    padding: 0 10px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player .player-up {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.player .player-up .fas {
    padding: 10px 20px;
}

.player .player-down {
    display: flex;
    align-items: center;
}

.player .player-down p {
    padding: 0 10px;
}

.linea {
    width: 300px;
    height: 5px;
    background-color: #707070;
    position:relative;
}

.linea::before {
    content:" ";
    width: 25px;
    height: 5px;
    background-color: lightgray;
    position:absolute;
    top:0;
    left: 0;
}

.player-bar-dx {
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-wrap: wrap;
}

.player-bar-dx .fas {
    padding: 0 10px;
    color: white;
}

.player-bar-dx .linea {
    width: 170px;
}

/* MEDIA QUERY - SMARTPHONE */
@media screen and (max-width: 479px) {
    aside .menu-sx {
        width: 50px;
        height: calc(100% - 120px);
    }

    .menu-sx h1 {
        display: none;
    }

    .upper-aside .links p {
        display: none;
    }

    .playlist-zone {
        display:none;
    }

    .bottom-aside .btm-asd-up, hr {
        display: none;
    }

    .bottom-aside .btm-asd-down small {
        display: none;
    }

    header .reg-bar {
        width: calc(100vw - 50px);
    }

    main li a {
        font-size: 15px;
    }

    .player-bar {
        height: 120px;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer .player-up .fas, .far {
        font-size:10px;
    }

    .player-song h4, p {
        font-size: 15px;
    }

    .player-bar-dx .fas {
        font-size:15px;
        padding: 0 5px;
        color: white;
    }

    .player .linea {
        width: 100px;
    }

    .player-bar-dx .linea {
        width: 50px;
    }
}
